html, body, h1, h2, h3, h4, ul, li {
	margin: 0;
	padding: 0;
}
h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: #464544;
}
a:hover {
	color: #FFA405;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}

body {
	background: #062D3C;
	text-align: center;
	font: 11px verdana, arial, sans-serif;
	color: #335EA8;
	padding-bottom: 10px;
}

/** layout **/
#wrapper {
	text-align: left;
	margin: 37px auto;
	width: 1072px;
	background: #ffffff;
  position: relative;
}

#header {
  background: #107398 ;/*url(images/header.jpg) no-repeat;*/
  height: 100px;
}
#logo {
  position: absolute;
  top: 52px;
  left:20px;
  width: 400px;
  color: #FFFF99;
}
#logo h1 {
  font: bold 32px "arial narrow", arial, sans-serif;
}
#logo p {
  margin: 0;
  font-weight: bold;
}

#cart {
	position: absolute;
	top: 5px;
	left: 810px;
	width: 260px;
	height: 34px;
	color:#99FFFF;
	font-weight:bold;
  /*background: #4B5360;
  width: 209px;*/
}
#cart-top { background: url(images/cart_top.gif) no-repeat; }
#cart-bot { background: bottom left url(images/cart_bot.gif) no-repeat; }
/*#cart-cart { background: 9px 11px url(images/cart.gif) no-repeat; }*/
#cart-cart {
  padding: 8px 8px 8px 60px;
  color: #EFEBD2;
}
#cart p {
  margin: 0;
}
#cart .orange {
  color: #FFB400;
  font-size: 10px;
}
#cart a {
  color:#EFEBD2;
  font-size: 10px;
}

#nav {
  background: #4B5360;
  position: absolute;
  top: 101px;
  left: 287px;
  width: 385px;
  padding: 9px 0;
  text-align: center;
}
#nav li {
  list-style: none;
  display: inline;
  color: #fff;
}
#nav a {
  text-decoration: none;
  color: #fff;
}
#gallery {
  position: absolute;
  top: 155px;
  left: 287px;
  width: 385px;
}
#gallery li {
  list-style: none;
  text-indent: -999px;
  float: left;
  overflow: hidden;
  height: 111px;
}
#gallery .gwomen {
  background: url(images/pic_1.jpg) no-repeat;
  width: 127px;
}
#gallery .gkids {
  background: url(images/pic_2.jpg) no-repeat;
  width: 130px;
}
#gallery .gmen {
  background: url(images/pic_3.jpg) no-repeat;
  width: 128px;
}

#body {
  padding-top: 3px;
 
   /* background-color:green;*/
}
#categories {
  float: left;
  width: 195px;
}
#seasonal, #collection {
  float: right;
  width: 874px;
  background: #D9F1FB;
  margin-bottom: 2px;
}
#seasonal .inner, #collection .inner {
  padding: 12px 12px;
  color:#0066FF
}
#seasonal p, #collection p {
  margin: 0.9em 0;
}

.more a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
.more a:hover {
  text-decoration: underline;
}

h3 {
  font: bold 14px "arial narrow", arial, sans-serif; 
  color: #1B1812;
}

h2 {
  font: 18px "arial narrow", arial, sans-serif; 
  color: #232F33;
  padding-bottom: 10px;
}
/*
#categories h2 {
  color: #fff;
  padding: 4px 0 5px 39px;
  background: #847A67;
}
#categories li {
  background: #D4CAB6 ;/*left url(images/bullet.gif) no-repeat;*/
 /* border-top: 1px solid #F4EFDF;
  list-style: none;
  font-size: 12px;
  padding: 7px 0 8px 35px;
}
#categories a {
  text-decoration: none;
  color: #000000;
}
#categories a:hover {
  text-decoration: underline;
}
*/
#collection {
  background: #D4CAB6 bottom right url(images/person_bg.jpg) no-repeat;
}
#collection .inner {
  padding-right: 98px;
}
#minigal {
  float: right;
  width: 222px;
  margin-top: 1em;
  margin-bottom: 1em;
}
#minigal div {
  float: left;
  margin: 6px;
}
#collection ul {
  margin-left: 1.5em;
}
#collection li {
  margin: 0.2em 0;
  color: #463F32;
  font-size: 16px;
  font-weight: bold;
  font-family: "arial narrow", arial, sans-serif;
}
#collection p {
  width: 103px;
  margin-left: 1.5em;
}

#seas-one, #seas-two, #seas-three {
  height: 146px;
}

#seas-one {
  float: left;
  width: 195px;
  margin-right: 3px;
  background: url(images/foot_1.jpg) no-repeat;
}
#seas-two {
  float: left;
  width: 249px;
  margin-right: 3px;
  background: url(images/foot_2.jpg) no-repeat;
}
#seas-three {
  float: left;
  width: 222px;
  background: url(images/foot_3.jpg) no-repeat;
}
#seas {width: 1072px;height: 16px;background-color:#7CD1F2;}
#seas p {
  text-align: right;
  color: #000;
  margin: 80px 15px 0 0;
  font-size: 23px;
  font-weight: bold;
}
#seas p.date {
  margin-top: 0;
  font-size: 16px;
}

#copyright {
  text-align: center;
  font-size: 9px;
  padding: 3px;
}
/* Styles for Example #1 */
#identifier{
margin:0;
padding:0;
/*width:200px;*/
list-style-type:none;
line-height:120%;
}
#identifier .closed{
background-image:url(ha-down.gif);
}
#identifier .closed,#identifier .opened{
padding-right:10px;
background-position:98% 50%;
background-repeat:no-repeat;
}
/*#identifier .header{
background-color:#7B7B7B;
}*/
#identifier .opened{
background-image:url(ha-up.gif);
}
#identifier a{
display:block;
font-weight:bold;
text-decoration:none;
}
#identifier a.hover{
border-top:1px solid #EFECD3;
border-bottom:1px solid #B5A382;
background-color:#E5C879;
color:#383A3D;
}
#identifier ul{
overflow: hidden;
margin:0;
padding:0;
}
#identifier li{
margin:0;
padding:0;
list-style-type:none;
background-color:#FFFBF0;
color:#383A3D;
}
#identifier li a{
padding:2px 10px 2px 4px;
border-top:1px solid #EFECD3;
border-left:1px solid #EFECD3;
border-right:1px solid #BCB99E;
border-bottom:1px solid #B5A382;
background-color:#E5D7AF;
color:#383A3D;
}
#identifier li.active a,#identifier li li.active a{
border-top:1px solid #E0E0E0;
border-bottom:1px solid #EFECD3;
border-left:1px solid #E0E0E0;
border-right:1px solid #BCB99E;
background-color:#404040;
color:#FFFFFF;
}
#identifier li.active li a,#identifier li li a{
padding:2px 4px 2px 8px;
border-top:1px solid #E0E0E0;
border-left:1px solid #E0E0E0;
border-right:1px solid #BCB99E;
border-bottom:1px solid #BCB99E;
background-color:#E6E5DB;
color:#232F33;
font-size:7.7pt;
}
#tbl 
{
	border:solid thin #00FFFF;
	border-spacing:1px;
	width:800px;
	border:1px;
	left: 217px;
	top: 121px;
}
#tb2 
{
	border:solid thin #00FFFF;
	border-spacing:2px;
	width:800px;
	border:1px;
	left: 217px;
	top: 1000px;
	bottom:1000px;
}
#th
{
height:30px;
background-color:#000066;
color:#CCCCCC;
font-size:14px;
font-weight:bolder;
text-align:center;
}
#th1
{
background-color:#0099FF;
color:#000033;
font-weight:bolder;
}
#td1
{
background-color:#99CCFF;
color:#000066;
height:30px;
}

#new
{
font-weight:bold;
color:#993300;
font-size:13px;
}
#hd
{
background-color:#CCCCCC;
font-weight:bolder;
color:#000099;
font-size:16px;
font-family:Geneva, Arial, Helvetica, sans-serif;
}
#body1 {
  background-color:#D9F1FB;
   /* background-color:green;*/
}
#rd
{
readonly=readonly;
}

#c1
{
	font:smaller;
	left: 220px;
	top: 509px;
	width: 840px;
}
#nm
{
	background-color:#99CCFF;
}